body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*ID en HTML*/
#anything-llm-icon {
  content: url("https://raw.githubusercontent.com/ybbotella/AsistenteIA/refs/heads/main/public/LogoUserChat.png") !important;
  width: 40px !important;  /* Ajusta el tamaño según necesites */
  height: 40px !important;
}
